extends ../layout

block content
	script(type='text/javascript')
		$(document).ready(function() {
			$("table.table.tablesorter.table-bordered").tablesorter({
				sortList: [[0,0]],
				theme: 'blue',
				widgets: ["zebra"],
				build_headers : {
					rows    : 1,  // Number of header rows from the csv
					classes : [], // Header classes to apply to cells
					text    : [], // Header cell text
					widths  : [ '15%', '30%', '15%', '40%' ] // set header cell widths
				},
				}
			);
		});
	h2.display-data All Ninjagos
		a.btn.btn-primary.pull-right(href="/ninjagos/create") Create a new Ninjago

	table.table.tablesorter.table-bordered.table-striped(style="width:100%")
		thead
			tr
				th Name
				th Color
				th Power
				th Weapon
				th Found
				th Turns
		tbody
			each ninjago in ninjagos
				tr
					td
						a(href="/ninjagos/" + ninjago._id + "/detail", title="Detail")= display(ninjago.name)

						td= display(ninjago.color)

						td= display(ninjago.power)

						td= display(ninjago.weapon)

						td= display(ninjago.found)

						td= display(ninjago.turns)

